HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.idea

node_modules/

### LaTeX ###
# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.ist
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.ps
*.eps

# LaTeX temporary and backup files
*.bak
*.tmp
*.swp
*.swo
*~

# PDF files (exclude all PDFs except specific ones in docs)
*.pdf
!docs/UCD_Logo.pdf
!docs/vulnerabilityReport_23202882.pdf